body {
  background-color: var(--color3);
}

header {
  color: var(--color1);
  background-color: var(--color2);
  text-align: center;
  padding: 5rem;
  margin-top: 5rem;
  padding-bottom: 2.5rem;
}

.dark {
  background-color: var(--color2);
  color: var(--color1);
}

.dark label {
  color: var(--color1);
}

.dark header {
  background-color: var(--color1);
  color: var(--color2);
}

h2 {
  text-align: center;
  color: var(--color4);
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.dark h2 {
  color: var(--color3);
}

#blog-entries {
  padding-left: 3rem;
  color: var(--color4);
}

#title,
#content,
#username {
  background-color: var(--color1);
  color: var(--color2);
  border: 2px solid var(--color4);
  border-radius: 4px;
  width: 92%;
  margin-bottom: 1.5rem;
}

#title,
#username {
  height: 30px;
}

label {
  margin-bottom: 0px;
  font-weight: bold;
  color: var(--color2);
  font-size: 1.25rem;
}

#submit {
  display: block;
  margin: auto;
  padding: 1rem;
  background-color: var(--color4);
  color: var(--color3);
  border: 5px solid var(--color2);
  border-radius: 4px;
  font-size: 20px;
}

.dark #submit {
  background-color: var(--color3);
  color: var(--color2);
  border: 5px solid var(--color4);
  border-radius: 4px;
}

#submit:hover {
  border-color: var(--color1);
  background-color: var(--color4);
  color: var(--color1);
}

.theme-button {
  display: flex;
  justify-content: flex-end;
}

#theme-switcher2 {
  font-size: 40px;
}
