/* Custom Properties */
:root {
  --color1: #cec9cc;
  --color2: #5d4e58;
  --color3: #9d949a;
  --color4: #6d5f68;
  --color5: #f0c1c1;
  --color6: #d49090;
}

/* Universal */

* {
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
